body {
  margin: 0;
  padding:0;
}

.headline{
  font-family: "Playfair Display", sans-serif;
}

.bg-grey{
  height:60vh;
  background-color: lightgray;
  font-family: "Playfair Display", sans-serif;
  padding-left: 50px;
}
.image-block{
  background-image: url("https://images.unsplash.com/photo-1464746133101-a2c3f88e0dd9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWFuJTIwb24lMjBtb3VudGFpbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}
.contact-section{
  background-color: darkslategrey;
  height:60vh;
  width: 100vh;
  font-family: "Roboto Condensed", sans-serif;
padding-left: 1500px;
  padding-top: 100px;
}

